
.row-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cartItem_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.cartItem_content img{
    width: 100px;
    
}
.cartItem_name{
    margin: 0rem 1rem;
}

.cart-operation{
    display: flex;
    /* width: 29%; */
    align-items: center;
}

.quantity{
    cursor: pointer;
    margin-right: 1rem;
    padding:0.5rem
}

@media only screen and (max-width:650px){

    .cartItem_content {
        font-size: 0.8rem;
    }

    .cart-operation{
        margin: 1rem 0.3rem;
    }
    
}
@media only screen and (max-width:540px){
    .cartItem_content{
        width: 100%;
    }
}