.detail_section{
    margin:5rem auto;
    width: 90%;
    
}

.restaurant_content{
    display: flex;
    padding: 1rem;
}

.restaurant_content >img{
    height: 350px;
}


.restaurant_details{
    margin-left: 2rem;
    line-height: 2;
    padding:1rem;
    padding-top: 0rem;
}

.icons{
    display: flex;
    margin-top: 2rem;
    /* margin-right: 1rem; */
    
}

.sanitizer_icon{
    margin-right: 1.5rem;
}

.sanitizer_icon >img{
    width: 100px;
}

.homedelivery_icon > img{
    width: 136px;
}

@media only screen and (max-width:550px){
    .restaurant_content{
        flex-direction: column;
    }

    .restaurant_details{
        margin: 0px;
        padding: 0px;
        margin-top: 1rem;
    }
}